<div class="container">
    <h1 class="text-center main-head mt-5">Add</h1>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="card diary-card" style="width: 50rem;">
            <div class="card-body form-floating">
                <form action="">
                    <textarea name="" class="diary-entry" cols="70" rows="22" placeholder="start typing..."></textarea>
                    <button href="/home" class="btn btn-success card-link" type="submit">Add</button>
                    <button class="btn btn-success card-link" type="reset">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>