<div class="container">
    <h1 class="text-center main-head mt-5">Add</h1>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="card diary-view-card" style="width: 50rem;">
            <div class="card-body">
                <h1 id="view-title">Hey there</h1>
            </div>
        </div>
    </div>
</div>