@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&family=Syne+Mono&family=The+Girl+Next+Door&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    background: #CAEDE3;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    font-family: 'Syne Mono', monospace;
    font-size: 50px;
    color: #B78763;
    left: 10%;
    top: 2%;
    margin: 0;
}

h2 {
    border-left: 15px;
}


.btn {
    background: #D3B94F ;
   height: 50px;
   width: 150px;
   border-radius: 25px;
   border: none;
   color: #CAEDE3;
   font-size: 30px;
}

.sign-in {
    
    width: 200px;
}

.header {
    height: 100px;
}

.stars {
   margin-left: 65%;
}



.stars img {
    height: 150px;
}

.content{
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content-heading {
    font-size: 96px;
    font-family: 'Swanky and Moo Moo', cursive;
    color: #B78763;
}

.content-desc {
    font-family: 'The Girl Next Door', cursive;
    font-size: 48px;
    justify-content: center;
    padding: 1px 100px;
    margin-top: -3%;
    font-weight: 500;
}


.diary-img {
width: 500px;
height: 300px;
position: absolute;
z-index: -1;
right: 2%;
top: 55%;
}





/* login and sign up */

.top-content {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.welcome {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 96px;
    color: #B78763;
    margin-bottom: 5px;
}


.login-text {
    font-family: 'The Girl Next Door', cursive;
    font-size: 48px;
    margin: 0;
    line-height: 1.5em;
}

.form {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.input-div {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}
#email {
   
    width: 556px;
    height: 72px;
    background: #D9D9D9;
    font-family: 'The Girl Next Door', cursive;
    font-size: 40px;
    font-weight: 400;
}

#password {
    
    width: 556px;
    height: 72px;
    background: #D9D9D9;
    font-family: 'The Girl Next Door', cursive;
    font-size: 40px;
    font-weight: 400;
}

#bind {
    position: fixed;
    width: 118px;
    height: 100vh;
    left: 0px;
    top: 0px;
   
}


.dashboard-content {
    width: 55%;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,400px);
    column-gap: 100px;
    row-gap: 100px;
    grid-auto-rows: minmax(250px, auto);
}

.notes {
    border: 1px black solid;
    
}

.add-notes {
    border: 1px black solid;   
}

@media  screen and (max-width: 1200px) {
    .content-heading {
         font-size: 60px;
    }
 
    #bind {
     display: none;
    }

    .diary-img {
        display: none;
    }
 
    .content-desc {
     font-size: 36px;
    }
   }

@media  screen and (max-width: 800px) {
   .content-heading {
        font-size: 48px;
   }


   .logo {
      font-size: 30px;
   }

   #bind {
    display: none;
   }

   .content-desc {
    font-size: 24px;
   }
  }

